/*
Geral
*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins';
    color: white;
    box-sizing: border-box;
}

body{
    background: hsla(205, 46%, 10%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
/*
Geral
*/


/*
Cabeçalho
*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 10%;
    width: 100%;
}

.h1-header{
    font-weight: bolder;
    color: white;
    font-size: 2.5em;
    text-shadow: 5px 5px 2px #0e1c26;
}

span{
    font-size: 0.4em;
}

li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 15px;
    font-weight: 400;
    font-size: 1.3em;
}

.a-header:hover{
    color: #cacaca;
}

.a-header{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/*
Cabeçalho
*/


/*
Corpo
*/
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 35px 10%;

}

.div-conteudo{
    width: 600px;
}

.h2-conteudo{
    color: white;
    font-size: 3em;
    text-shadow: 5px 5px 2px #0e1c26;
}

.p-conteudo{
    margin: 20px 0px;
}

button{
    width: 250px;
    height: 40px;
    background-color: #f83d5c;
    border: none;
    margin: 20px 5px;
    border-radius: 20px;
}

a:hover{
    color: #cacaca;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2-section{
    text-align: center;
    font-size: 3em;
    text-shadow: 5px 5px 2px #0e1c26;
}

.p-section{
    text-align: justify;
    margin: 20px 0px;
}

.container-section{
    width: 400px;
    height: 600px;
    background-color: black;
    margin: 0px 35px;
}

.div-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 10%;
}
/*
Corpo
*/
