@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter";
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: white;
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 18px;
}

nav a:hover{
    color: white;
    background-color: #00ACE4;
    transition: ;
}

main{
    width: 100%;
    height: 730px;
    background-image: url(img/img1.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.336);
}

.container{
    display: flex;
    flex-direction: column;

}

.cxtitulo{
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 100px 200px 0px 200px;
}

.cxtitulo h1{
    font-size: 66px;
    word-break: break-word;
    font-weight: 600;
    ;
}

.cxtitulo p{
    font-size: 20px;
    padding-top: 15px;
}

.cxcasos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;

}

.cx01{
    text-align: left;
    height: 330px;
    width: 300px;
    background-color: #39aae1;
}

.cx01 h2{
    padding: 30px;
}

.cx01 p{
    padding: 0px 30px 30px 30px;
}

.cx02{
    height: 330px;
    width: 300px;
    background-color: #0079c7;
}

.cx02 h2{
    padding: 30px;
}

.cx02 p{
    padding: 0px 30px 30px 30px
}


.cx03{
    height: 330px;
    width: 300px;
    background-color: #2b4c99;
}

.cx03 h2{
    padding: 30px;
}

.hrcomercial{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.hrsabado{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.hrdomingo{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

button{
    width: 100px;
    height: 50px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    text-align: center;
    margin-left: 30px;
    cursor: pointer;
}

.container_noticias{
    display: flex;
    flex-direction: row;
    
}

.noticias{
    width: 68%;
    height: 600px;
}

.tl_noticias{
    margin: 60px 0px 60px 100px;
}

.coluna_noticias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 200px;
    justify-content: center;
    align-items: center;
}

.cl_cx01{
    width: 450px;
    margin: 30px;
}

.cl_cx01 img
{
    width: 450px;
}

.cl_cx02 img
{
    width: 450px;
}

.cl_cx02{
    width: 450px;
    margin: 30px;
}

.cl_cx03 img
{
    width: 450px;
}

.cl_cx03{
    width: 450px;
    margin: 30px;
}

.cl_cx04 img
{
    width: 450px;
}

.cl_cx04{
    width: 450px;
    margin: 30px;
}

.coluna_departamentos{
    width: 32%;
    height: 600px;
    background-color: blue;
}