@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter";
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color: white;
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 18px;
}

nav a:hover{
    color: white;
    background-color: #00ACE4;
    transition: ;
}

main{
    width: 100vw;
    height: 700px;
    background-image: url(img/img1.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;

}

.cxtitulo{
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 100px 200px 0px 200px;
}

.cxtitulo h1{
    font-size: 66px;
    word-break: break-word;
    font-weight: 600;
}

.cxtitulo p{
    font-size: 20px;
    padding-top: 15px;
    text-align: ;
}

.cxcasos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cx01{
    width: 400px;
    height: 300px;
    color: ;
}

.cx02{
    width: 400px;
    height: 300px;
}

.cx03{
    width: 400px;
    height: 300px;
}