@charset "UTF-8";

*{
    padding: 10px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5;
    line-height: 1.5;
}

menu{
    display: none;
}

article::after{
    content: 'Este artigo foi impresso atraves do site do Desenvolvedor Leonardo Sousa';
}

h1{
    text-align: center;
}

main{
    text-align: justify;
}

h2{
    text-align: center;
    font-size: 1.3em;
}

