/*
Geral
*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins';
}

html,body{
    background-color: #232323;
    color: white;
    margin: auto;
}
/*
Geral
*/


/*
Cabeçalho
*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 31px 100px;
}



.logo{
    flex-direction: column;
    line-height: 30px;
    font-weight: 200;
}


ul{
    list-style-type: none;
    
}

li{
    display: inline-block;
    padding: 8px;
}

li:hover{
    border: 2px solid #9B06CE;
    border-radius: 10px;
    padding: 0px 7px;
}

a{
    color: white;
    text-decoration: none;
}
/*
Cabeçalho
*/



/*
Corpo
*/
.roxo{
    color: #9B06CE;
}


main{
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.subtitulo{
    font-size: 3em;
    line-height: 80px;
    margin-bottom: 40px;
}

input[type=email],[type=text]{
    border-radius: 20px;
    height: 40px;
    width: 350px;
    margin-bottom: 20px;
    padding-left: 20px;
}

input[type=submit]{
    background-color: #9B06CE;
    border: 0px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    color: white;
}

p{
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 1em;
    width: 608px;
}