/*
Configuração geral
*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: 'cordel';
    src: url(fonte/cordelina.otf) format('opentype');
}


*{
    margin: 0px;
    padding: 0px;
}

body{
}

:root{
    --fontcabecalho:'Anton';
    --fontcordel: 'cordel';
    --fontpadrao: 'Times New Roman', Times, serif;
}

strong{
    font-family: var(--fontcabecalho);
    font-weight: normal;
}
/*
Configuração geral
*/



/*
Configuração cabecaçalho
*/
header{
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cabecalhoconfig{
    color: white;
    font-family: var(--fontcabecalho);
}

.cabecalhotitulo{
    font-size: 10vw;
    text-align: center;
    font-variant: small-caps;
    padding-top: 40px;  
}

.cabecalhocomplemento{
    text-align: center;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
}

a{
    text-decoration: none;
    color: white;
}

.link:hover::after{
    content: "🔗";
}
/*
Configuração cabecaçalho
*/



/*
Configuração corpo
*/
.corponormal{
    font-family: var(--fontcordel);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
    line-height: 1.5em;
    font-size: 1.5em;  
    text-shadow: 1px 1px 1px black;
}

.corpoimagem{
    font-family: var(--fontcordel);
    background-color: rgb(168, 161, 161);
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
    line-height: 1.5em;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
    color: white;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.corpoimagem > p{
    background-color: rgb(0 0 0 / 31%);
    width: 400px;
    padding: 20px;
}

.doisparagrafos{
    padding-bottom: 20px;
}

#img01{
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 0px 4px 0px black;
}

#img02{
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 0px 4px 0px black
}

/*
Configuração corpo
*/



/*
Configuração Rodape
*/
#rodapeconfig{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-weight: normal;
}

.linksconfig{
}

ul{
    padding-top: 8px;
}

.listaconfig{
    list-style: none;
    display: inline-block;
    padding: 0px 2px;
}
/*
Configuração Rodape
*/