@charset "UTF-8";

.quadrado{
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgray;
    width: 300px;
    height: 300px;
}

body{
    background-image: url(imagens/pattern004.png);
    display: flex;
    justify-content: center;
}

#q1 {
    background-color: lightblue;
}

#q2 {
    background-image: linear-gradient(to bottom, yellow, lightgray)
}

#q3 {
    background-image: url(imagens/pattern001.png);
}